body{
  background-color:  #121212;
}

body header{
  color: white;
  background-color: #0b0b0b;
  font-family: "Georgia", serif;
}

body header img{
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 50%;
  max-width: 75px;
}

body h2{
  color:white;
  text-align: center;
  font-size: 200%;
}

body h3{
  color:#adb3b3;
  text-align: center;
}


body form input[type=text]{
  border-style: hidden;
  font-size: 2em;
  padding: 1em 1em 1em 1em;
  background-color: #262626;
  color: #adb3b3;
  border-radius: 25px;
}

body form input[type=submit]{
  background-color: #262626;
  color: #adb3b3;
  border-style: hidden;
  font-size: 2em;
  padding: 1em 1em 1em 1em;
  border-radius: 25px;
}

body div#sidebar{
  background-color: #282828;
}

body div#sidebar div{
  color:white;
  align-self: center;
  justify-self:center;

}
