body{
  display:grid;
  grid-template-columns: [sidebar-start] 1fr [sidebar-end-page-start] 10fr [page-end] 1fr [page-final];
  grid-template-rows: [topbar-start] auto [topbar-end-search-start] auto [search-end-content-start] auto [content-end];
  grid-template-areas: "topbar topbar topbar"
                       "side search useless"
                       "side contentpage useless";
}

body header{
  grid-area:topbar;
  display:grid;
  grid-template-columns: [logo-start] 1fr [logo-end-name-start] 1fr [name-end-signup-start] 10fr [signup-end];
  grid-template-areas: "logo title signup";
}

body header img{
  grid-area:logo;
  align-self: center;
}

body header h1{
  grid-area: title;
  justify-self:start;
}

body header div#signup{
  grid-area: signup;
  justify-self:end;
  align-self: center;
}

body form{
  grid-area:search;
  display:flex;
  flex-direction: row;
}

body form input[type=text]{
  flex-grow: 10;
}

body form input[type=submit]{
  flex-grow: 1;
}

body div#initialtext{
  grid-area: contentpage;
  align-self: center;
}

body div#sidebar-clone {
  grid-area: side;
}

body div#sidebar-clone div#sidebar{
  display:flex;
  flex-direction: column;
}

body div#sidebar div {
  flex-grow: 1;
}
