body {
	color: black;
	font-family: "Georgia", serif;
	margin: 1rem auto 1rem auto;
	background-color: #EEEEEE;
}

header {
	background-color: #046DD5;
	padding: 1em;
	font-family: "Verdana", sans-serif;
	margin-bottom:0px;
}

header h1 {
	font-size: 1.2em;
}

header h2 {
	font-size: 0.8em;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

header a {
	color:white;
	text-decoration: none;
}

header div#signup a {
	font-size: 0.7em;
}

header div#signup a:nth-child(1) {
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	padding-right: 1em;
}

header div#signup a:nth-child(2) {
	border-width: 0px 0px 0px 0px;
	border-style: solid;
	padding-left: 1em;
}

nav#menu {
	margin-top: 0px;
}

nav#menu ul
{
	text-align: center;
	list-style-type: none;
	padding-inline-start: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

nav#menu ul li
{
	padding-top: 1em;
	padding-bottom: 1em;
	border-style: solid;
	border-width: 5px 0px 0px 0px;
	background-color: white;
}

nav#menu ul li:nth-child(1)
{
	border-color: #E1493E;
}

nav#menu ul li:nth-child(2)
{
	border-color: #8ABA56;
}

nav#menu ul li:nth-child(3)
{
	border-color: #5B4282;
}

nav#menu ul li:nth-child(4)
{
	border-color: #FF8932;
}

nav#menu ul li:nth-child(5)
{
	border-color: #19B6E9;
}

nav#menu ul li:nth-child(6)
{
	border-color: #E84C8B;
}

nav#menu ul li a {
	text-decoration: none;
	font-family: "Verdana", sans-serif;
	color: black;
	/* font-weight: bold; */
}

aside#related {
	padding: 2em 1em 2em 1em;
	background-color: #2A2F33;
	color: white;
	margin-bottom: 0px;
}

aside#related h1 {
	font-family: "Verdana", sans-serif;
}

aside#related a
{
	color: white;
	text-decoration: none;
}

section#news {
	margin-top: 0em;
	padding-right: 1em;
}

section#news > article {
	position: relative;
	margin-top: 1em;
}

section#news > article:first-child {
	
	margin-top: 0;
}

section#news > article > img {
	width: 100%;
}

section#news > article > header {
	padding: 0px;
	background-color: white;
}

section#news > article > header > h1 {
	position: absolute;
	left: 1em;
	top: 2em;
	width: 10em;
	font-size: 0.8em;
	text-shadow: 4px 4px 6px #000;
}

section#news > article > p:nth-of-type(1)::first-letter {
	font-size: 3em;
}

section#news > article > footer {
	background-color: #E1493E;
	font-family: "Verdana", sans-serif;
	padding: 1em;
	color: white;
}

section#news > article > footer a {
	color: white;
}

section#news > article > footer span:first-child::before {
	content: "By ";
}

section#news > article > footer > a:last-child::after {
	content: " comments";
}

body > footer {
	background-color: #2A2F33;
	color: white;
	padding: 0.5em;
	margin-top: 1em;
}
