body{
  display: grid;
  grid-template-columns: [sidebar-start] 1fr [sidebar-end-page-start] 10fr [page-end] 1fr [page-final];
  grid-template-rows: [topbar-start] auto [topbar-end-content-start]  auto [content-end];
  grid-template-areas: "topbar topbar topbar"
                       "sidebar content useless";
}

body  header{
  grid-area: topbar;
  display:grid;
  grid-template-columns: [logo-start] 1fr [logo-end-title-start] 1fr [title-end-signup-start]  10fr [signup-end];
  grid-template-rows: [page-start] auto [page-end];
  grid-template-areas: "logo title signup"
}

body header img{
  grid-area:logo;
  align-self: center;
}

body header h1{
  grid-area:title;
  justify-self:start;
}

body header div#signup{
  grid-area: signup;
  justify-self:end;
  align-self: center;
}

body div#sidebar{
  grid-area:sidebar;
  display:flex;
  flex-direction: column;
  background-color: #282828;
  width:100%;
  height:100%;
}

body  div#sidebar div{
  flex-grow: 1;
}

body form {
  grid-area: content;
}
