
/* MENU ICON*/

body div#iconmenu>ul li a:hover{
  color:white;
}

body div#topbar div#icon{
  font-size: 4em

}

body div#iconmenu{
  width: 0%;
  opacity: 0;
}

body div#iconmenu:hover{
  width: 100%;
  transition: all 0.5s ease;
  color: white;
  opacity:1;
}
